body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  text-align: center;
  margin: 0;
  padding: 0;
}

.login-container, .tickets-container {
  background: #fff;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

input, button, textarea, select {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

button {
  background: #C38AB3;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn-eliminar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-eliminar:hover {
  background-color: #c0392b;
}
